body{
    background-color: #c8d8e4;
    margin: 0;
}

.square{
    border: 1px solid black;
}

.gridHolder{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    min-width: 300px;
    min-height: 300px;
    width: 50vw;
    height: 50vw;
    margin: auto; 
}

.btnContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
}

button{
    width:80px;
    height: 40px;
    color: #2b6777;
    background-color: #f2f2f2;
    border: 2px solid #2b6777;
    border-radius: 16px;
}

.flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.footer{
    display: flex;
    background-color: #f2f2f2;
    height: 42px;
    align-items: center;
    justify-content: center;
    color: #2b6777;
}